* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

@import url('https://fonts.googleapis.com/css2?family=Charis+SIL:wght@700&family=Roboto:wght@300;400&display=swap')




body {
    background-color: white;

    }
.cabeçalho {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: space-around;
    padding: 24px;
}

.logo {
    height: 105px;
}

.cabeçalho-menu {
    display: flex;
    gap: 32px;
}

.cabeçalho-menu-item {
    font-family: 'Charis SIL', serif;
    color: black;
    font-weight: 600; 
    font-size: 18px;

}
.cabeçalho-menu-item:hover {
    color: rgb(85, 82, 82);
}

.conteudo {
    border-top: 0.4px solid black;
    margin-bottom: 48px;
}
.conteudo-principal {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    align-items: center;

}
.conteudo-principal-escrito {
    display: flex;
    flex-direction: column;
    gap: 32px;
}
.conteudo-principal-escrito-titulo {
    font-family: 'Roboto', sans-serif;
    font-weight: 600;
    font-size: 64px;
    color: black;
}
.conteudo-principal-escrito-subtitulo {
    font-family: 'Charis SIL', serif;
    font-weight: 300;
    font-size: 24px;
    color: rgb(12, 11, 11);
}
.conteudo-principal-escrito-botao {
    background-color: rgb(37, 36, 36);
    width: 180px;
    height: 60px;
    color: white;
    border: none;
    box-shadow: 4px 5px 4px rgba(0, 0, 0, 0.25);
    border-radius: 20px;
    font-family: 'Charis SIL', serif;
    font-weight: 300;
    font-size: 24px;

}

.conteudo-principal-escrito-botao:hover {
    background-color: rgb(194, 188, 180);
}


.conteudo-principal-escrito-imagem {
    height: 430px;
    padding-top: 15px;

}
.conteudo-secundario {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 24px;
    margin-top: 48px;
}
.conteudo-secundario-titulo {
    border-top: 2px solid black;
    padding-top: 48px;
    font-family: 'Charis SIL', serif;
    font-weight: 600;
    font-size: 28px;
    color: rgb(12, 11, 11);
    margin-bottom: 16px;

}
.conteudo-secundario-paragrafo {
    font-family: 'Charis SIL', serif;
    font-weight: 300;
    font-size: 15px;

}
.rodape {
    padding: 32px;
    border-top: 2px solid black;

}
.rodape-imagem {
    height: 100px;
    display: block;
    margin: 0 auto;
}

@media (max-width: 600px) {

}